.featured-events-gallery-cont{
	// @include myoutline(red);
	display         : flex;
	justify-content : space-between;
	// align-items     : stretch;
	flex-wrap       : wrap;

	&:after{
		// @include myoutline(red);
		content: '';
	    width: susy-span(4);
	}

	.thumbnail{ 
		$image-height: 160px;
		width: susy-span(6);
		@include breakpoint($screen-md-min){ width: susy-span(4); }

		h2{
			font-size: $font-size-h5;
			font-family: $font-family-sans-serif;
			color: $gray;
			font-weight: map-get($font-weights, medium);
			&:before, &:after{ display: none; }
			margin: 0;
			padding: 0;
		}

		.img-cont{
			height: $image-height;
			overflow: hidden;

			img{
				width: 100%;
				height: $image-height;
				object-fit: cover;
			}
		}



	}
}