.featured-image{
	@include clearfix();
	position: relative;
	// border-bottom: solid 1px $gray-lighter;
	// box-shadow: inset 0px 0px 5px $gray-lighter;

	.title-cont{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.img-cont{
		width: 100%;
		text-align: center;

		img{
			$fi-height: 568px; // ~ iphone 5

			height: $fi-height / 3.5;
			max-width: 100%;
			display: inline;
			object-fit: cover;
			object-position: center center;

			@include breakpoint($screen-sm-min){
				height: $fi-height / 2;
			}
		}
	}
}