.site-footer{
	color: #fff;

	a{
		color: $link-color-reverse;
		&:hover, &:focus{
			color: $link-hover-color-reverse;
		}

	}


	#site-footer{
		h2{
			font-size: $font-size-h4;
			&:after{
				display: none;
			}
		}
	}


	.lg-social-media{
		@include list-unstyled;
		margin-left: -5px;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}		
	}

	.blog-feed{
		@include list-unstyled;

		li{
			// line-height: 1.1;
			margin-bottom: gutter();

			a{
				position: relative;
				display: block;
				width: 100%;
				padding: 0.25rem 1.8rem;
				color: #fff;
				font-weight: map-get($font-weights, semi-bold);

				// Triangle
				&:before{
					content: "";
					position: absolute;
					display: inline-block;
					top: 1.0rem;
					left: 2px;
					border: 4px solid transparent;
					// border-left-color: #dddddd;
				    border-left-color: #838383;
				}

				// Hover
				&:hover, &:focus{
					background-color: rgba($gray-base, 0.1);
				}
			}

			.blog-feed-date{
				color: darken($gray-lighter, 12%);
			}
		}
	} 

}

#site-footer {
	.lg-social-media {
		.fa {
			font-size: 20px;
		}
	}
}