.gallery {
	margin-bottom: gutter();
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.gallery-item {

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			// @include myoutline(green);
			width: susy-span(6);
			margin-bottom: gutter();

			@include breakpoint($screen-xs-min){
				width: susy-span(6);
			}

			@include breakpoint($screen-sm-min){
				width: susy-span(12 / $i);
			}

		}
	}

	img{ 
		width: 100%;
		object-fit: cover;
		// @include img-responsive(); 
		// margin-left: auto;
		// margin-right: auto;
		margin-bottom: 0;
	}

	a{
		padding: 3px;
		border: solid 1px $gray-lighter;
		display: block;
	}

}

.gallery-caption {
	display: block;
}
 