.site-header{
	
	.tagline {
		display: none;
		@include breakpoint($screen-lg-min){
			display: block; 
			width: 497px;
			height: 52px;
			background-image: url("./assets/dist/images/txt-tagline.png"); 
			background-repeat: no-repeat;
			background-position: center center; 
			position: absolute;
			top: 37%;
			left: 23%;
			overflow: hidden;
			text-indent: -999em
		}
	}

	// Logo
	.custom-logo-link{
		
		@include breakpoint(max-width $screen-sm-min - 1){
			display: block;
			height: 150px;
			overflow: hidden;

			img{
				max-height: 100%;
				width: auto;
			}
		}

	}

	.navbar-header-logo{
		@include breakpoint($screen-sm-min){
			display: none;
		}
	}


	// Social Media Icons
	.lg-social-media-cont{
		margin-bottom: gutter();
		padding-right: gutter();

		.lg-social-media{
		  @include list-unstyled;
		  margin-left: -5px;

		  > li {
		    display: inline-block;
		    padding-left: 5px;
		    padding-right: 5px;
		  }

			a{
				color: $gray-lighter; 
				font-size: $font-size-h5; 
			}
		}
	}


	.header-utility{
		padding-right: gutter();

		.fa{
			color: $gray-lighter;
			margin-right: 8px;
		}

		a:hover, a:focus{
			color: $gray-lighter;
		}
	}

}   