.image-bar-container {
	width:100%
}

.image_bar {
	width: span(1 of 1);
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color:white;
	display: flex;
	align-items: center;

	.slick-track {
		display:flex;
		align-items:center;
	}
}

.image_bar_item {
	width: span(1 of 3);
	overflow: hidden;
	background-color: #fff;
	display: inline-flex;
	padding-top:1rem;
	padding-bottom:1rem;
	align-items:center;
}


.image_bar_image {
	margin-left: auto;
	margin-right: auto;
}

.image_bar_image img {
	width: 75px;
	height: 75px;
	object-fit: contain;
	margin-left:auto;
	margin-right:auto;
	filter: grayscale(100%);

}


@include breakpoint($screen-sm-min){ //TABLET 768px

	.image_bar_item {
	width: span(1 of 4);
	}

	.image_bar_image img {
	width: 100px;
	height: 100px;
	}

}

@media all and (min-width: 1024px) {

	.image_bar_item {
	width: span(1 of 5);
	}
	.image_bar_image > img {
		object-fit:contain;
		width: 125px;
		height: 125px;
		padding: 5px;
	}	
}

//@include breakpoint($screen-md-min) { // DESKTOP 992px
@media all and (min-width: 1440px) {
	.image_bar_item {
	width: span(1 of 6);
	}
	.image_bar_image > img {
		object-fit:contain;
		width: 125px;
		height: 125px;
		padding: 5px;
	}
}
