.btn{
	font-family: $font-family-serif;
}

.btn-download{
	position: relative;
	@include button-variant(#fff, $gray-lighter, $gray-lighter);
	background: linear-gradient(to bottom, #258dc8 0%, #555555 0%, #aaaaaa 100%);
	@include fa-sudo(false, 'f0da');
	padding-right: $padding-base-horizontal * 3.0;

	&:after{
		display: inline-block;
		background-color: $brand-primary;
		position: absolute;
		top: 0;
		right: 0;
		padding: $padding-base-vertical $padding-base-horizontal;
	}

	&.btn-lg{
		padding-right: $padding-large-horizontal * 3.0;
		&:after{
			padding: $padding-large-vertical $padding-large-horizontal;
		}
	}
} 