// ** do not change the specificity on the this selector. Breaks the tag archive page.
article.type .tag,
.mce-content-body .tag{
    display: inline-block!important;
    width: 20px;
    height: 20px;
    background: url(./assets/dist/images/icon-tags.png) no-repeat scroll 0% 0% transparent;
    margin-right: 5px;
    text-indent: -999em
}

article.type  .tag-takeaway,
.mce-content-body .tag-takeaway {
    background-position: 0 0
}

article.type  .tag-oceanwise,
.mce-content-body .tag-oceanwise {
    background-position: -60px 0
}

article.type  .tag-glutenfree,
.mce-content-body .tag-glutenfree{
    background-position: -40px 0
}