// Main Menu
.navbar-default{
	font-family: $font-family-serif;
	font-size: $font-size-base + 1px;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;

	@include breakpoint($screen-sm-min){ font-size: 10px; }
	@include breakpoint($screen-md-min){ font-size: 11px; }

	@include breakpoint($screen-lg-min){
		font-size: $font-size-base + 1px;
	}

	.navbar-nav{ margin: 0; }

	// Needed for justified nav
    .navbar-nav>li {
      float: none;

      
    }

	@include breakpoint($screen-sm-min){
		.navbar-nav>li {
			border-left:solid 1px #fff;
		}
	}

	.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
		background-color: inherit;
	}

	// Set Parent Menu Active when children in drop down are selected
	.current-menu-ancestor { 
		//background-color: $navbar-default-link-active-bg;
	}

	.active.current-menu-item {
		//background-color: $navbar-default-link-active-bg;
	}

	// Top Level nav items design.
	.navbar-nav>li{
		>a{ 
			display:flex;
			align-items: center;
			//justify-content: center;
			text-align: left;
			@include breakpoint($screen-sm-min){
				//border-left: solid 1px #fff; 
				//text-align: center;
			}
			.caret{
				margin-left: 8px;
				display: none;
			}
		}
		&:hover {
			//background-color: $navbar-default-link-active-bg;
		}

		&.active {
			//background-color: $navbar-default-link-active-bg;
		}

		&:first-child a{
			border-left-color: transparent;
		}
	}
	


	// Drop down Styling
	.dropdown-menu{
		// @include myoutline(red);
		font-size: $font-size-base + 1px;
		border-radius: 0;
		padding: 0;

		.menu-item.active a{
			background-color: #fff;
			color: $text-color;
			padding-top: 6px;
			padding-bottom: 6px;
			border-top:  solid 1px transparent;
			border-bottom:  solid 1px transparent;

			&:hover, &:focus{
				border-color: $gray-lighter;
				background-color: darken(#fff, 0.75%);
			}

		}
	}

}

// Footer Menu
#site-footer{

	.menu{
		@include list-unstyled;

		li{

			a{
				position: relative;
				display: block;
				width: 100%;
				padding: 0.25rem 1.8rem;

				// Triangle
				&:before{
					content: "";
					position: absolute;
					display: inline-block;
					top: 1.0rem;
					left: 2px;
					border: 4px solid transparent;
					// border-left-color: #dddddd;
				    border-left-color: #838383;
				}

				// Hover
				&:hover, &:focus{
					background-color: rgba($gray-base, 0.1);
				}
			}
		}
	} 
}


// Blog Posts Pagination
.pagination{
	// @include myoutline(red);
	width: 100%;

	.nav-links{
		padding: gutter();
		display: flex;
		justify-content: center;

		.page-numbers{
			// @include myoutline(blue);
			display: inline-block;
			padding: 4px 8px;
			border: solid 1px $brand-primary;
			border-left-color: transparent;
		}

		.page-numbers:first-child {
			border-left-color: $brand-primary;
		}
	}
}