.popup-form{
	position:fixed;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	z-index: 100;
	transition: left .6s ease-in-out 0s;
	display: none;

	@media (min-width: $screen-sm-min) {display: block;}

	&.active{
		left: calc( 100% - 500px );
	}

	.cta{
		position:absolute;
		left: -90px;
		top: 50px;
		width: 90px;
		cursor: pointer;

		img{
			width: 100%;
			display: block;
		}
	}

	.form{
		width: 500px;
		padding: gutter() gutter()*2;
		background-color: #fff;
		border: 10px solid $brand-primary-lighter;
		border-right: 0;
		border-radius: 10px 0 0 10px;
		z-index: 999;

		.gform_wrapper{
			margin-bottom: 0 !important;

			.gfield{
				display: flex;

				.gfield_label{
					flex-basis: 100px;
				}

				div:nth-child(2){
					flex-basis: calc( 100% - 100px );
				}
			}
		}
	}
}