.quick-nav-cont{
	// @include myoutline(red);

	.quick-nav{
		// @include myoutline(blue);
		background-color: $gray-lighter;
		text-align: center;
		color: $gray-light;

		&:before{
			display: block;
			background: $gray-lighter url(./assets/dist/images/bg-pattern.png); 
			border-left: 10px solid #fff;
			border-right: 10px solid #fff;
			width: 100%;
			height: 10px;
			content: '';
			overflow: hidden;
			position: absolute;
			left: 0;
			box-sizing: border-box;
			top: 0;
		}

		&:after{
			display: block;
			background: $gray-lighter url(./assets/dist/images/bg-pattern.png); 
			border-left: 10px solid #fff;
			border-right: 10px solid #fff;
			width: 100%;
			height: 10px;
			content: '';
			overflow: hidden;
			position: absolute;
			left: 0;
			box-sizing: border-box;
			bottom: 0;
		}

		&:hover h2, &:focus h2{ color: $gray-base; }

	}

	h2{
		font-size: $font-size-h4;
	    font-variant: small-caps;
		margin-bottom: 0;

		&:before, &:after{ display: none; }
	}
	
}

.quick-nav-front-cont{
	$quick-nav-base-height: 220px;
	
	.nav-front-image{
		// @include myoutline(red);
		img{
			height: $quick-nav-base-height;
			width: 100%;
			object-fit: cover;
			object-position: center center;
		}
		height: $quick-nav-base-height;
	}

	.nav-front-content{

		// Layout


		// Design
		background-image: linear-gradient(to top,#cbcbcb 0%,#5d5d5d 100%);
		color: #fff;
		height: $quick-nav-base-height;

		h2{
			font-size: $font-size-h4;
			margin-bottom: 0;
			&:before, &:after{ display: none; }
		}


	}
}

