// UL container
.widget-area{
	padding-top:$padding-base-vertical ;
	padding-bottom: $padding-base-vertical;
}

// Default widget
.widget{
	// @include myoutline(red);

	.widget-title{
		// border: solid 1px $brand-primary;
		// background-color: $brand-primary;
		// color: #fff;
		padding: $padding-base-vertical;
		font-size: $font-size-large;
		text-transform: uppercase;
		font-weight: map-get($font-weights, medium);
	}

	& > ul{
		@include list-unstyled;
		margin: 0 12px 0 12px;
	}
}

// Search
.widget_search{

	form.search-form{
		// @include myoutline(red);
		display: flex;
		justify-content: center;

		label{
			width: susy-percentage(80%);
			margin-bottom: 0;
		}

		.search-submit{
			width: susy-percentage(40%);
			@extend .btn;
			@extend .btn-primary;
		}

		.search-field{
			height: 40px;
		}
	}
}

// Categories
.widget_categories{
	.cat-item a{
		font-weight: map-get($font-weights, semi-bold);
	}
}

// Gravity forms.
.gform_widget{
	.ginput_recaptcha {
		transform:scale(0.86);
		transform-origin:0 0;
	}	
	
	@include breakpoint($screen-xs-min){
		.ginput_recaptcha {
			transform:scale(1.0);
			transform-origin:0 0;
		}
	}

	@include breakpoint($screen-sm-min){
		.ginput_recaptcha {
			transform:scale(0.67);
			transform-origin:0 0;
		}
	}

	@include breakpoint($screen-md-min){
		.ginput_recaptcha {
			transform:scale(0.9);
			transform-origin:0 0;
		}
	}

	@include breakpoint($screen-lg-min){
		.ginput_recaptcha {
			transform:scale(0.74);
			transform-origin:0 0;
		}
	}
}

// Custom Testimonials
.widget-area .cta-testimonials-slider{
	// @include myoutline(red);

	.lgc-testimonial {
		min-height: 104px;
		@include truncate( $font-size-base, $line-height-base, 5 );
	}
 
}

// Recent Posts
.widget_recent_entries{
	ul{
		@extend .nav;
		@extend .nav-pills;
		@extend .nav-stacked;
	}

	.post-date{
		display: block;
		text-align: right;
		font-size: $font-size-small;
		margin-bottom: gutter();
		margin-right: gutter();
	}

	li{
		border: solid 1px $gray-lighter;
		margin-bottom: gutter();
	}
}