.blog, .archive, .single{

	// Post Title
	.entry-title{
		// @include myoutline(red);
		margin-bottom: 0;
		padding-bottom: 0;
		a{ 
			color: $text-color; 
			&:hover, &:focus{
				color: $gray-light;
			}
		}
	} 

	//Fancy Date published
	.published{
		// @include myoutline(red);
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: gutter();
		border-bottom: none;


		.yearmonthcont{
			display:flex;
			flex-direction: column;
			padding-top: 9px;
		}

		.lgc-day, .lgc-year, .lgc-month{
			// @include myoutline(blue);
		} 


		.lgc-day{

			font-size:34px;
			line-height:1em;
			font-weight:300;
			text-align:right;
			display:block;
			padding:6px 5px 5px 5px;
		}

		.lgc-year, .lg-month{
			line-height : 14px; 
			font-weight : 300;
			display     : block;
		}

		.lgc-year{
			font-size:12px;
			// top:9px;			
		}

		.lgc-month{
			font-size:15px;
			text-transform:uppercase;
		}
	} 

	img.attachment-post-thumbnail{
		width: 100%;
	}

}

.blog-nav{
	display: flex;
	justify-content: center;


	.btn{
		width: susy-span(6);
		white-space: normal;
	}
}