.faq-cats{
	padding: 0;
	margin: 0;
	li{
		display: inline-block;
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-lg-min){ width: susy-span(4); }
		overflow: hidden;
		a{
			font-weight: map-get($font-weights, bold);
		}
	}
}

.page-faqs{

	.panel-default{
		// @include myoutline(red);
		background-color: #fff;

		.panel-heading{
			background-color: #fff;
			a[aria-expanded="true"]{
				@include fa-sudo(true, 'f068', 0.3, $brand-primary);
			}

			a{
				@include fa-sudo(true, 'f067', 0.3, $brand-primary);
			}
		}
	}
}