.blog-feed-front{
	// @include myoutline(red);
	@extend .list-unstyled;

	li{
		display: flex;
		padding-bottom: gutter();

		.img-cont{
			width: susy-span(4);
			img{ @include img-responsive(); }
		}

		.feed-body{
			padding: 0 1.0rem;
			width: susy-span(8);

			h2{
				font-size: $font-size-large;
				font-weight: map-get($font-weights, bold);
				margin: 0;
				padding-bottom: 6px;
				&:before, &:after{ display: none; }
			}

			.blog-feed-date{
				display: block;
				margin-bottom: $line-height-computed;
			}
		}
	}
}

