.testimonials-cont{
	// @include myoutline(red);
	margin-bottom: gutter();

	blockquote{
		position: relative;
		padding: 0;
		margin: 0;
		border: solid 1px transparent;
		footer{ margin-top: $font-size-large; }
		font-size: 1.4rem;
 
		&:before{
			// @include myoutline(green);
			position:absolute;
		    top: 4px; 
		    left: 29px;
			display:block;
			padding:0; 
			content:'\201C';
			z-index: 99;
			font-size: 70px; 
		}

		&:after{
			background-color: $gray-lighter;
		    content: "";
		    position: absolute;
		    left: 23px;
		    top: 22px;
		    z-index: 1;
		    width: 36px;
		    height: 36px;
		}
	}

	.lgc-testimonial{
		// @include myoutline(red);
		position:relative;
		padding: 1.7rem 1.7rem 1.7rem 6.7rem;
		background-color:#ffffff;
		border:1px solid #dddddd;

		&:after{
		    border-right:16px solid transparent;
		    border-top:15px solid #DDDDDD;
		    bottom:-15px;
		    content:"";
		    position:absolute;
		    left:41px;
		    top:auto;
		    width:0;
		    z-index:1;		
		}

		&:before{
			border-right:13px solid transparent;
			border-top:14px solid #ffffff;
			bottom:-14px;
			top:auto;
			content:"";
			left:42px;
			position:absolute;
			z-index:2;			
		}


	}
} 

.cta-testimonials-slider{
	// @include myoutline(red);
	// height: 320px;

	.testimonials-cont{
		margin-bottom: 0;
	}

	.lgc-testimonial{

	}
}