.blog, .archive, .single {

	article.type.post{
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		margin-bottom: 55px;

		.post-header{
			width: susy-span(12);
			@include breakpoint($screen-sm-min){ width: susy-span(3); }
			@include breakpoint($screen-md-min){ width: susy-span(3); }
			@include breakpoint($screen-lg-min){ width: susy-span(2); }
		}

		.post-copy{
			width: susy-span(12);
			@include breakpoint($screen-sm-min){ width: susy-span(9); }
			@include breakpoint($screen-md-min){ width: susy-span(9); }
			@include breakpoint($screen-md-min){ width: susy-span(10); }
		}
	}
}

.author-container{
	// @include myoutline(red);
	display: flex;
	justify-content: space-between;
	align-items: center;
	// flex-direction: column;
	flex-wrap: wrap;

		.avatar{
			// @include myoutline(blue);
			width: susy-span(12);
			@include breakpoint($screen-sm-min){ width: susy-span(3); }
			@include breakpoint($screen-md-min){ width: susy-span(2); }
			img{
				margin: 0;
				padding: 0;
			}
		}

		.bio{
			// @include myoutline(blue);
			width: susy-span(12);
			@include breakpoint($screen-sm-min){ width: susy-span(9); }
			@include breakpoint($screen-md-min){ width: susy-span(10); }
		}
}