// Site Footer 
.site-footer{
	@extend .container;
	padding-left: gutter();
	padding-right: gutter();

	@include breakpoint($screen-sm-min){
		padding-left: 0;
		padding-right: 0;
	}

	#site-footer{
		// @include myoutline(red);
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		padding-bottom: gutter();
	}

	&-alpha, &-bravo, &-charlie, &-delta{
		// @include myoutline(red);
		padding: 0 (gutter() / 3);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: gutter();
	}

	// Contact Us
	&-alpha{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(6); }
		@include breakpoint($screen-lg-min){ width: susy-span(3); }
	}

	// Stay Connected
	&-bravo{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(6); }
		@include breakpoint($screen-lg-min){ width: susy-span(3); }
	}

	// Navigation
	&-charlie{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(6); }
		@include breakpoint($screen-lg-min){ width: susy-span(3); }
	}

	// Latest Posts
	&-delta{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(6); }
		@include breakpoint($screen-lg-min){ width: susy-span(3); }
	}


}



// Default Legal stuff
#site-legal{
	// @include myoutline(red);
	@extend .container;
	margin-bottom: gutter();
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
	.site-info{
		width: susy-span(12);
		text-align: center;

		@include breakpoint($screen-sm-min){
			width: susy-span(6);
			text-align: left;
		}
	}

	.site-longevity{
		width: susy-span(12);
		text-align: center;


		@include breakpoint($screen-sm-min){
			width: susy-span(6);
			text-align: right;
		}
	}

	// Shame
	a{
		color: darken(#fff, 20%); 
	}
}

#sb_instagram {
	height: auto !important;
}
