// Site Header
.site-header{
	@extend .container;
	padding-left: 0;
	padding-right: 0;
	position: relative;

	@include breakpoint($screen-md-min){
		padding-top: 50px;
	}

	display         : flex;
	justify-content : space-between;
	align-items     : flex-end;
	flex-wrap       : wrap; 

	&-alpha, &-bravo{
		// @include myoutline(blue);
	} 

	// Logo
	&-alpha{
		display: none;
		@include breakpoint($screen-sm-min){ 
			display: block;
			width: susy-span(12); 
		}
		@include breakpoint($screen-md-min){ width: susy-span(2); }
		@include breakpoint($screen-lg-min){ width: susy-span(2); }
	}

	// Custom Logo Position
	.custom-logo-link{
		display: block;
		height: 150px;
				
		@include breakpoint($screen-sm-min){
			height: 120px;
			overflow: hidden;
			padding-left: gutter();
			img{
				max-height: 100%;
				width: auto;
			}
		}

		@include breakpoint($screen-md-min){
			position: absolute;
			left: -35px;
			top: 40px; 
			z-index: 99;
			height: 220px;
		}

		@include breakpoint($screen-lg-min){
			position: absolute;
			left: -65px;
			top: 0;
			z-index: 99;	
			height: auto;		
		}
			
	}


	// Navigation
	&-bravo{
		width: 100%;
		order: -1;
		@include breakpoint($screen-sm-min){ 
			order: 99;
			width: susy-span(12); 
		}
		@include breakpoint($screen-md-min){ width: susy-span(10); }
		@include breakpoint($screen-lg-min){ width: susy-span(10); }


		display: flex;
		flex-direction: column;


		.navbar-default{
			order: -1;
			width: 100%;

			@include breakpoint($screen-md-min){
				order: initial;
			}
		}
	}	

}


// navbar-header mobile Layout
.navbar-header{
	@include breakpoint(max-width $screen-sm-min){
		display: flex;
		justify-content: space-between;
		alig-items: center;

		.toggle-cont{
			width: susy-span(3);
			order: 2;

			display: flex;
			align-items: center;
			justify-content: flex-end;
			text-align: right;
		}
		
		.navbar-header-logo{
			width: susy-span(9);
			order: 1;
		}

	}
}   


.header-utilit-cont{
	@include breakpoint($screen-sm-min){
		position: absolute;
		top: 0; 
		right: gutter();
	}

	@include breakpoint($screen-md-min){
		position: relative;
		top: initial;
		right: initial;
	}
}