.quick-nav-cont{
	// @include myoutline(red);
	display         : flex;
	justify-content : space-between;
	align-items     : stretch;
	flex-wrap       : wrap;

	.quick-nav{
		position: relative;
		margin-bottom: 1.5rem;
		padding: 2.5rem 1.5rem;
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-sm-min){ width: susy-span(4); }


		&.flex-3-col{
			width: susy-span(12);
			@include breakpoint($screen-xs-min){ width: susy-span(6); }
			@include breakpoint($screen-sm-min){ width: susy-span(6); }
			@include breakpoint($screen-md-min){ width: susy-span(4); }			
			@include breakpoint($screen-lg-min){ width: susy-span(4); }			
		}

		&.flex-4-col{
			width: susy-span(12);
			@include breakpoint($screen-xs-min){ width: susy-span(6); }
			@include breakpoint($screen-sm-min){ width: susy-span(6); }
			@include breakpoint($screen-md-min){ width: susy-span(3); }			
			@include breakpoint($screen-lg-min){ width: susy-span(3); }			
		}

		&.flex-6-col{
			width: susy-span(12);
			@include breakpoint($screen-xs-min){ width: susy-span(6); }
			@include breakpoint($screen-sm-min){ width: susy-span(6); }
			@include breakpoint($screen-md-min){ width: susy-span(6); }			
			@include breakpoint($screen-lg-min){ width: susy-span(6); }			
		}

	}

	img{
		margin-right: auto;
		margin-left: auto;
	}
}



.quick-nav-front-cont{
	// @include myoutline(red);
	display         : flex;
	justify-content : space-between;
	align-items     : flex-start;
	flex-wrap       : wrap;	

	.quick-nav-front-item{
	  flex: 1 1 span(12);
	  @include breakpoint($screen-xs-min){ flex: 1 1 span(6); }
	  @include breakpoint($screen-sm-min){ flex: 1 1 span(6); }
	  @include breakpoint($screen-md-min){ flex: 1 1 span(3); }

	  padding: 0 (gutter() / 5) (gutter() / 5) (gutter() / 5);
	}

	.quick-nav-front-item:first-child{ padding-left: 0; }
	.quick-nav-front-item:last-child{ padding-right: 0; }

	.nav-front-image{
	}

	.nav-front-content{
		padding: gutter();
	}
}