.team-member-cont{
	// @include myoutline(red);
	display         : flex;
	justify-content : space-between;
	align-items     : flex-start;
	flex-wrap       : wrap;

	.team-image{
		width: susy-span(12);
		@include breakpoint($screen-xs-min){ width: susy-span(3); }
		@include breakpoint($screen-sm-min){ width: susy-span(4); }
		@include breakpoint($screen-lg-min){ width: susy-span(3); }
	}
	.team-body{
		width: susy-span(12);
		@include breakpoint($screen-xs-min){ width: susy-span(9); }
		@include breakpoint($screen-sm-min){ width: susy-span(8); }
		@include breakpoint($screen-lg-min){ width: susy-span(9); }
	}
}