html { overflow-y:scroll; }

// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	@include center-block;
}


// Image
.body-copy{
	img{ 
		@include img-responsive(); 
		margin-bottom: 1.1rem;
		z-index: 99;
		position: relative;
	}
}


// Table
table{
	@extend .table;
	@extend .table-bordered;
}

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	position: relative;
	padding-bottom: 1.4rem;
	font-variant: small-caps; 

	&:before{
		content: '';
		background: $brand-primary;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 120px;
	    height: 2px;
	}

	&:after{
		content: '';
		background: $gray-lighter;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

}

// H2 below the menu
.page-title{
	font-size: $font-size-h1;
	text-align: right;
	overflow: hidden;
	

	&:after, &:before{
		display: none;
	}
}

// Page H1 Heading
.page-heading{
	h1{ 
		@extend .no-heading-rule; 
		margin-bottom: 0.25rem; 
	}

	p{
		font-weight: map-get($font-weights, medium);
		text-transform: uppercase; 
		color: $gray; //#8a8a8a;
	}
}


.no-heading-rule{
	&:before, &:after{ display: none; }
	padding-bottom: 0;
}

.screen-reader-text{
	@extend .sr-only;
}



