// Padding -------------------------------------------------------------------------------------------------------------
	
	// Padding
	.p-xs{ padding: $padding-base-vertical; }
	.p-sm{ padding: $padding-base-vertical * 2; }
	.p-md{ padding: $padding-base-vertical * 4; }
	.p-lg{ padding: $padding-base-vertical * 6; }

	// Padding Top
	.pt-xs{ padding-top: $padding-base-vertical; }
	.pt-sm{ padding-top: $padding-base-vertical * 2; }
	.pt-md{ padding-top: $padding-base-vertical * 4; }
	.pt-lg{ padding-top: $padding-base-vertical * 6; }

	// Padding Right
	.pr-xs{ padding-right: $padding-base-vertical; }
	.pr-sm{ padding-right: $padding-base-vertical * 2; }
	.pr-md{ padding-right: $padding-base-vertical * 4; }
	.pr-lg{ padding-right: $padding-base-vertical * 6; }

	// Padding Bottom
	.pb-xs{ padding-bottom: $padding-base-vertical; }
	.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
	.pb-md{ padding-bottom: $padding-base-vertical * 4; }
	.pb-lg{ padding-bottom: $padding-base-vertical * 6; }

	// Padding Left
	.pl-xs{ padding-left: $padding-base-vertical; }
	.pl-sm{ padding-left: $padding-base-vertical * 2; }
	.pl-md{ padding-left: $padding-base-vertical * 4; }
	.pl-lg{ padding-left: $padding-base-vertical * 6; }

// Margin --------------------------------------------------------------------------------------------------------------

	// Margin Top
	.mt-xs{ margin-top: $padding-base-vertical; }
	.mt-sm{ margin-top: $padding-base-vertical * 2; }
	.mt-md{ margin-top: $padding-base-vertical * 4; }
	.mt-lg{ margin-top: $padding-base-vertical * 6; }

	// Margin right
	.mr-xs{ margin-right: $padding-base-vertical; }
	.mr-sm{ margin-right: $padding-base-vertical * 2; }
	.mr-md{ margin-right: $padding-base-vertical * 4; }
	.mr-lg{ margin-right: $padding-base-vertical * 6; }

	// Margin bottom
	.mb-xs{ margin-bottom: $padding-base-vertical; }
	.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
	.mb-md{ margin-bottom: $padding-base-vertical * 4; }
	.mb-lg{ margin-bottom: $padding-base-vertical * 6; }

	// Margin Left
	.ml-xs{ margin-left: $padding-base-vertical; }
	.ml-sm{ margin-left: $padding-base-vertical * 2; }
	.ml-md{ margin-left: $padding-base-vertical * 4; }
	.ml-lg{ margin-left: $padding-base-vertical * 6; }

// Background  ---------------------------------------------------------------------------------------------------------

	.bg-gray-base, .bg-gray-darker, .bg-gray-dark, .bg-gray, .bg-gray-light{
		color: #fff;
	} 

	.bg-gray-base{ background-color   : $gray-base; }
	.bg-gray-base-alt{background-color     : rgba($gray-base, 0.73);}
	.bg-gray-darker{ background-color : $gray-darker; }
	.bg-gray-dark{ background-color   : $gray-dark; }
	.bg-gray{background-color         : $gray;}
	.bg-gray-light{ background-color  : $gray-light; }
	.bg-gray-lighter{background-color : $gray-lighter; }


	// Color Overlay
	.bg-color-overlay{ 
		position: relative;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left:0;
			display: block !important;
		    width:100%;
		    height:100%;
			background-color: rgba($brand-primary, 0.5); 		
		} 
	} 

	// Background Image Fixed
	.bg-image-alpha{ 
		background-image: url("./assets/dist/images/bg-footer.jpg"); 
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center; 
		background-size: cover; 
	}

	// Background Image Fixed
	.bg-image-chalk{ 
		background-image: url("./assets/dist/images/bg-chalk.jpg"); 
		background-attachment: initial;
		background-repeat: no-repeat;
		background-position: center center; 
		background-size: cover; 
	}

	// White
	.bg-white{
		background-color: #fff;
	}



// Text Colours
	.text-white{ color: #fff; }