.container {
			// @include myoutline(red);

	max-width: $screen-lg-min;
  	margin-right: auto;
    margin-left: auto;
    padding-left: gutter();
    padding-right: gutter();

	@media (min-width: $screen-sm-min) {width: $container-sm; }
	@media (min-width: $screen-md-min) {width: $container-md; }
	@media (min-width: $screen-lg-min) {width: $container-lg; }
}


.container-fluid {
  	margin-right: auto;
    margin-left: auto;
    padding-left: gutter();
    padding-right: gutter();
}
 

// Default with sidebar
.page-template-tpl-container-sidebar, .page-template-tpl-full-sidebar, .blog, .archive, .single, .search-results, .page {

	.site-content main{
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
	    box-shadow: inset 0px 0px 5px $gray-lighter;
	}

	.lgc-breadcrumbs{
		width: susy-span(12);
	}

	h2.h1.text-right{
		width: susy-span(12);
	}

	.feature-image{
		width: susy-span(12);
	}

	.page-heading{
		// @include myoutline(red);
		width: susy-span(12);
		overflow: hidden;
		padding-bottom: $padding-large-vertical;

		@include breakpoint($screen-sm-min){
			border-bottom: solid 1px $gray-lighter;
		}
	}

	.body-copy{ 
		// @include myoutline(red);
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(8);
			padding-top: $padding-large-vertical;
			padding-right: $padding-large-vertical;
			padding-bottom: gutter();
			border-right: solid 1px $gray-lighter;
		}

		@include breakpoint($screen-lg-min){
			width: susy-span(9);
		}
	}

	.widget-area{
		// @include myoutline(red); 
		width: susy-span(12);
		padding-bottom: gutter();

		@include breakpoint($screen-sm-min){
			width: susy-span(4);
			padding-top: $padding-large-vertical;
		}

		@include breakpoint($screen-lg-min){
			width: susy-span(3);
		}
	}
}

// Home Page
.home.page{
	
	.site-content main{
		display         : flex;
		justify-content : flex-start;
		align-items     : flex-start;
		flex-wrap       : wrap;
	}

	.home-slider, .cta-nav, .body-copy{
		width: susy-span(12);
		border-right-color: transparent;
	}

	.fp-form, .fp-blog-feed, .cta-testimonials-slider, .cta-awards-slider{
		// @include myoutline(red); 
	}

	.fp-form{
		width: susy-span(12);
		@include breakpoint($screen-md-min){ width: susy-span(4); }
		@include breakpoint($screen-lg-min){ width: susy-span(5); }
	}

	.fp-blog-feed{
		width: susy-span(12);
		@include breakpoint($screen-md-min){ 
			width: susy-span(8); 
			margin-right: gutter();
		}
		@include breakpoint($screen-lg-min){ width: susy-span(7); }
	}

	.cta-testimonials-slider{
		width: susy-span(12);
		
		@include breakpoint($screen-sm-min){
			width: susy-span(12);
			margin-right:  gutter();
		}
	}


	.cta-awards-slider{
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(3);
		}
	}

}
#reviewstream {
	margin-bottom:0px;
	padding-bottom:0px;
	.flexslider {
		margin-bottom:0px;
		padding-bottom:0px;
	}
	#reviewstream-pager {
		display:none;
	}
	#reviewstream-footer {
		display:none;
	}
}
