.type{
	// @include myoutline(red);

	&-post{
		// @include myoutline(blue);
	}
	
	&-page{
		// @include myoutline(darkgreen);
	}

}

ul.ul-2col{ 
	padding: 0 0 0 gutter();
	columns: 1;
	list-style-type: disc;
	list-style-position: inside;
	@include breakpoint($screen-sm-min){
		columns: 2;
	}  
}  