@import "lg-variables";
@import "variables";
@import "mixins";
@import "scaffolding";
@import "tables";
@import "base";
@import "stone-collection";
@import "components/lgc-buttons";
@import "components/menu";
 

 
body#tinymce.wp-editor{
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
	

	@import "type";
	@import "tables";
	@import "buttons";

	//Headings
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		text-transform: uppercase;

		small, .small{
			color: $brand-primary;
			font-weight: map-get($font-weights, semi-bold);
		}
	}

	
} 

