// General Layout
.gform_wrapper{
	padding          : $padding-large-vertical;
	// border           : solid 1px $gray-lighter;
	border-radius    : 0;
	// box-shadow       : 1px 1px 5px $gray-light;
	// background-color : transparent;
	margin-bottom    : $padding-base-vertical * 6;
	// margin-top       : $padding-base-vertical * 6;
	
	form{
		display         : flex;
		flex-direction  : column;

		.gform_heading{
			width: susy-span(12); 
			margin-bottom: $padding-base-vertical;
		} 
		
		.gform_body{
			width: susy-span(12);
			margin-bottom: $padding-base-vertical;
		}
		
		.gform_footer{
			width: susy-span(12);

			.gform_button{
				display: block;
				float: right;
			}
		}

	}
} 


// Fields Layout
.gform_fields{
	@include list-unstyled;

	.gfield{
		@extend .form-group;
	}

	// IE: Two fields - First and last name
	.ginput_complex{
		// @include myoutline(blue);
		display: flex;
		justify-content: space-between;

		span, div{
			flex: 1 1 auto;
			padding-right: gutter();
			&:last-child{
				padding-right: 0;
			}
		}
	}


	// Time Fields
	.clear-multi{
		display: flex;
		justify-content: space-start;

		.ginput_container_time{
			
			// Layout for HH MM AM/PM
			flex: 0 1 auto;
			padding-right: gutter() / 2;
			&:last-child{ padding-right: 0; }

			// Layout Spacing for items
			display: flex;
			align-items: center;
			input{ margin-right: gutter(); }
		}
	}

	// Checkbox and Radio Boxes
	.ginput_container_checkbox, .ginput_container_radio{
		// @include myoutline(green);

		.gfield_checkbox, .gfield_radio{
			@include list-unstyled;
			display: flex;
			flex-direction: column;

			li{
				flex: 0 1 auto;

				display: flex;
				align-items: center;
			}

			label{
				margin: 2px;
			}

			input{
				margin: 2px;
			}
		}
	}
	
}


.form-horizontal_wrapper{

	form.form-horizontal{
		padding: 15px; // bootsrap reset
	}

	.gfield{
		display: flex;
		flex-direction: column;
		@include breakpoint($screen-sm-min){flex-direction: row; }
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;

		& > label{
			text-align: left;
			width: susy-span(12);
			margin: 0;

			@include breakpoint($screen-sm-min){
				width: susy-span(3);
				text-align: right;
				padding-right: $padding-small-horizontal;
			}
		}

		.ginput_container {
			width: susy-span(12);

			@include breakpoint($screen-sm-min){
				width: susy-span(9);
			}
		}

		.gfield_description{

			@include breakpoint($screen-sm-min){
				width: susy-span(9);
				padding-left: susy-span(3);
			}
		}

		&.label-top label{
			align-self: flex-start;
		}


	}
}
