$slick-font-path          : "./assets/dist/fonts/";
$slick-font-family        : "FontAwesome";
$slick-loader-path        : "./assets/dist/images/";
$slick-arrow-color        : $brand-danger;
$slick-dot-color          : $brand-danger;
$slick-dot-color-active   : $slick-dot-color;
$slick-prev-character     : "\f104";
$slick-next-character     : "\f105";
$slick-dot-character      : "\f111";
$slick-dot-size           : 2.0rem;
$slick-opacity-default    : 1.0;
$slick-opacity-on-hover   : 0.8;
$slick-opacity-not-active : 0.5;

.home-slider{
	// @include myoutline(red);

	// Layout
		width: 100%;
		max-height: 540px;
		overflow: hidden;

	// Arrows
		.slick-prev, .slick-next{ 
			z-index: 1; 
			height: 4.0rem;
			width: 4.0rem;
			&:before{ font-size: 4.0rem; }
		} 

		.slick-prev{
			left: 25px;
		}

		.slick-next{
			right: 25px;
		}

	// Dots
		.slick-dots{
			position: absolute;
			bottom: 25px;
			z-index: 1;
		}

		&.slick-dotted.slick-slider {
		    margin-bottom: 0;
		} 

	// Image
		.slick-container > .img-cont > img{
			height: 540px;
			width: 100%;
			object-fit: cover;
			object-position: center center;
		}

	// Slider Content
		.title-cont{
			color: $text-color;

			// Layout
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translate(5%, -10%);
			width: susy-span(10); 
			@include breakpoint($screen-sm-min){ width: susy-span(7); }
			@include breakpoint($screen-md-min){ width: susy-span(6); }
			@include breakpoint($screen-lg-min){ width: susy-span(5); }

			// Design
			background-color: rgba(#fff, 0.9);
			padding: (gutter() / 2) gutter();
			box-shadow: inset 0px 0px 20px $gray;
			border-radius: $border-radius-small;

			// Typography
			h2{
				font-size: $font-size-h4;
				font-variant: small-cap;
				margin-bottom: 0;

				.small{
					font-size: $font-size-h1;
					color: #000;
					text-decoration: underline;
				}

				&:before, &:after{ display: none; }

			}

		}

}