$slick-font-path          : "./assets/dist/fonts/";
$slick-font-family        : "FontAwesome";
$slick-loader-path        : "./assets/dist/images/";
$slick-arrow-color        : $brand-primary;
$slick-dot-color          : $brand-primary;
$slick-dot-color-active   : $slick-dot-color;
$slick-prev-character     : "\f104";
$slick-next-character     : "\f105";
$slick-dot-character      : "\f111";
$slick-dot-size           : 2.0rem;
$slick-opacity-default    : 1.0;
$slick-opacity-on-hover   : 0.8;
$slick-opacity-not-active : 0.5;

.testimonial-slider{

	// Arrows
		.slick-prev, .slick-next{ 
			z-index: 1; 
			height: 2.25rem;
			width: 2.25rem;
			&:before{ font-size: 2.0rem; }
		} 

		.slick-prev{
			top: -43px;
			left: initial;
			right: 24px;
			border: solid 1px $gray-lighter;
		}

		.slick-next{
			top: -43px;
			right: 0px;
			border: solid 1px $gray-lighter;
		}


	// Dots
		.slick-dots{
			position: absolute;
			bottom: 25px;
			z-index: 1;
		}

		&.slick-dotted.slick-slider {
		    margin-bottom: 0;
		} 

}